html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  color:#2d2d2d;
  font:12px/1.5 Arial,"\5FAE\8F6F\96C5\9ED1",sans-serif,"\5b8b\4f53";
  -webkit-font-smoothing:antialiased;
}

:focus {
  outline: 1;
}

article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary {
  display:block;
}

nav ul {
  list-style:none;
}

ul, li, ol{display: block;}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  vertical-align:baseline;
  text-decoration:none;
  background:transparent;
  color:#2d2d2d;
}

a:hover{
  color:#2d2d2d;
  text-decoration: none;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted #000;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
  outline: none;
}

i{
  font-style: normal;
}

.footer{margin-top:0;}

.border-triangle{width:0;height:0;line-height: 0;font-size:0;border-style:dashed;border-color:transparent;display: block;}
.pull-left{float:left;display: inline;}
.pull-right{float:right;display: inline;}

@import "base-var";
@import "../../../common/ui/1-0-x/index";
@import "../../../common/header/1-0-x/index";
@import "../../../common/footer/1-0-x/index";



