doctype html
html
    head
        meta(content='charset=utf-8')
        link(rel='icon', href='/dev/images/common/bolo-logo-mini.png')
        link(rel='stylesheet', href='/dev/styles/mobile/pages/act/poison-chicken/1-0-x/pc.css')
    body
        .wrapper
            img(src="http://img4.cache.netease.com/bobo/2016/12/13/2016121315333766733.jpg" alt="请用手机扫码")
        script.
            function resizeImg() {
                document.querySelector('.wrapper img').style.height = window.innerHeight * .9 + 'px';
            }
            window.onresize = function () {
               resizeImg();
            }
            resizeImg();

