// created by chesszhang
extends ./../../../../../layout
block head
    meta(name='keywords', content='“只要你分享了菠萝的视频，而这段视频带来相当规模的流量，你就能够获取奖励” 2016年8月，网易菠萝分享计划横空出世。我们意在为PGC内容提供最优质的服务，和优质内容方实现品牌共建、内容共创、粉丝共享，最终共同打造菠萝网生内容新生态。')
    meta(name='description', content='网易菠萝, 分享计划，曝光计划，网易分享，菠萝分享，高收入，高分成，海量曝光， 菠萝, 无广告, 萌贱污, 原创视频, 视频, 吐槽, 社区, 神奇, bolo, boluo, 视频社区, 内涵段子, 大力金刚,直播,小视频,网红,快看,暴走漫画,同道大叔,烧脑,花熊,漫画岛,bilibili,腾讯, 土豆,小咖秀,快手,有妖气,内涵,二次元,acfun')
    title 情感聊吧宣传页
    link(rel='stylesheet', href='/dev/styles/pc/pages/act/bobo/liaoba/index.css')
block content
    .wrapper
        .explain-header
        .explain 聊吧本着以情感为主打，以用户快乐为目标，采用主持、连麦、游戏等方式与用户互动。秀场聊吧王者“百度酒吧”携旗下顶级接待正式入驻网易Bobo于9月28日下午14点正式开始试运营，期待与您不见不散。
        .container-header
        .container

            //.card
            //    .img-container
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/dudubao/1.png")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/dudubao/2.png" class="hidden")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/dudubao/3.png" class="hidden")
            //    .anchor-info
            //        .base-info
            //            span.user-name 嘟嘟宝
            //            span.user-id  ID10003296
            //        .age 年龄：22
            //        .height 身高：163
            //        .weight 体重：52
            //        .character 性格：活泼开朗，善于人际交流
            //        .three-round 三围：胸围95，腰围：65，臀围：94
            //        .introduce 个人介绍：都夸我活好
            //        .qq-group Q粉丝群：44592660
            //    div(class="pre hidden")
            //    div(class="next hidden")
            //    .enter-btn 进入直播间
            //
            //.card
            //    .img-container
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/dujiu/1.png")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/dujiu/2.png" class="hidden")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/dujiu/3.png" class="hidden")
            //    .anchor-info
            //        .base-info
            //            span.user-name 毒久
            //            span.user-id  ID10003247
            //        .age 年龄：21
            //        .height 身高：162
            //        .weight 体重：92
            //        .character 性格：乐天派
            //        .three-round 三围：胸围84，腰围：67，臀围：87
            //        .introduce 个人介绍：：〔简短〕痛而不言 笑而不语 不惧不惑 向阳而生
            //        .qq-group Q粉丝群：44592660
            //    div(class="pre hidden")
            //    div(class="next hidden")
            //    .enter-btn 进入直播间
            //
            //.card
            //    .img-container
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/guoguo/1.png")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/guoguo/2.png" class="hidden")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/guoguo/3.png" class="hidden")
            //    .anchor-info
            //        .base-info
            //            span.user-name 小啊果
            //            span.user-id  ID10003054
            //        .age 年龄：22
            //        .height 身高：174
            //        .weight 体重：110
            //        .character 性格：温柔可爱 美丽大方
            //        .three-round 三围：胸围92 腰围70 臀围95
            //        .introduce 个人介绍：遇见你是命运的安排  而爱上你是最美丽的意外
            //        .qq-group Q粉丝群：44592660
            //    div(class="pre hidden")
            //    div(class="next hidden")
            //    .enter-btn 进入直播间
            //
            //.card
            //    .img-container
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/nvwang/1.png")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/nvwang/2.png" class="hidden")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/nvwang/3.png" class="hidden")
            //    .anchor-info
            //        .base-info
            //            span.user-name 萌尐熊
            //            span.user-id  ID10003350
            //        .age 年龄：30
            //        .height 身高：164
            //        .weight 体重：106
            //        .character 性格：静如处子，动如脱兔
            //        .three-round 三围：胸围95 腰围70 臀围96
            //        .introduce 个人介绍：：〔简短犀利〕不管唱中文、英文、日文、韩文，一个熊熊，全部搞定
            //        .qq-group Q粉丝群：44592660
            //    div(class="pre hidden")
            //    div(class="next hidden")
            //    .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/qiqi/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/qiqi/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/qiqi/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 七七
                        span.user-id  ID10001786
                    .age 年龄：20
                    .height 身高：163
                    .weight 体重：92
                    .character 性格：静若处女，动如少妇
                    .three-round 三围：该大的大，该小的小，腿长屁股还很翘
                    .introduce 个人介绍：别看我，不然你会爱上我
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/yiyi/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/yiyi/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/yiyi/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 伊伊
                        span.user-id  ID10003031
                    .age 年龄：22
                    .height 身高：168
                    .weight 体重：95
                    .character 性格：亲和，无话不谈
                    .three-round 三围：胸围82 腰围67 臀围80
                    .introduce 个人介绍：力争做全波波最污的直播间
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/diudiu/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/diudiu/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/diudiu/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 丢丢
                        span.user-id  ID10003417
                    .age 年龄：21
                    .height 身高：163
                    .weight 体重：86
                    .character 性格：不污不逗比不女神不可爱
                    .three-round 三围：胸围86 腰围61 臀围92
                    .introduce 个人介绍：丢下丢不会丢！求氪金求保护求带走
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/xiaoningmeng/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/xiaoningmeng/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/xiaoningmeng/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 小柠檬
                        span.user-id  ID10003692
                    .age 年龄：22
                    .height 身高：168
                    .weight 体重：90
                    .character 性格：乐观、开朗
                    .three-round 三围：胸围89 腰围71 臀围83
                    .introduce 个人介绍：活好不粘人
                    .qq-group Q粉丝群：539375222
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/doudou/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/doudou/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/doudou/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 豆豆
                        span.user-id  ID10003424
                    .age 年龄：18
                    .height 身高：160
                    .weight 体重：82
                    .character 性格：开朗乐观 感情丰富具有亲和力 独立性强 不拘小节
                    .three-round 三围：胸围80 腰围65 臀围81
                    .introduce 个人介绍：我有野性有脾气有心机有手段很污很可爱很强势 嗯这样很酷你确定你不会喜欢上我吗
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/guoguo/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/guoguo/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/guoguo/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 小啊果
                        span.user-id  ID10003054
                    .age 年龄：22
                    .height 身高：174
                    .weight 体重：110
                    .character 性格：温柔可爱 美丽大方
                    .three-round 三围：胸围92 腰围70 臀围95
                    .introduce 个人介绍：遇见你是命运的安排  而爱上你是最美丽的意外
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            //.card
            //    .img-container
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/qiwanwan/1.png")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/qiwanwan/2.png" class="hidden")
            //        img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/qiwanwan/3.png" class="hidden")
            //    .anchor-info
            //        .base-info
            //            span.user-name 戚晚晚
            //            span.user-id  ID10003038
            //        .age 年龄：20
            //        .height 身高：165
            //        .weight 体重：102
            //        .character 性格：开朗活泼直爽
            //        .three-round 三围：胸围87 腰围60 臀围90
            //        .introduce 个人介绍：逗比卖萌 污力晚晚
            //        .qq-group Q粉丝群：44592660
            //    div(class="pre hidden")
            //    div(class="next hidden")
            //    .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/wuyaowang/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/wuyaowang/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/wuyaowang/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 污妖王
                        span.user-id  ID10003249
                    .age 年龄：25
                    .height 身高：166
                    .weight 体重：105
                    .character 性格：放的开，玩的嗨~
                    .three-round 三围：胸围96，腰围：68，臀围：95
                    .introduce 个人介绍：装逼卖萌，无所不能~ 污法污天带你爽
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间

            .card
                .img-container
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/xiaoqingcheng/1.png")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/xiaoqingcheng/2.png" class="hidden")
                    img(src="/dev/images/pages/pc/act/bobo/liaoba/anchor/xiaoqingcheng/3.png" class="hidden")
                .anchor-info
                    .base-info
                        span.user-name 小倾城
                        span.user-id  ID10003321
                    .age 年龄：24
                    .height 身高：168
                    .weight 体重：112
                    .character 性格：很容易害羞
                    .three-round 三围：胸围90 腰围67cm 臀围90
                    .introduce 个人介绍：命运负责打击 我负责鼓励
                    .qq-group Q粉丝群：44592660
                div(class="pre hidden")
                div(class="next hidden")
                .enter-btn 进入直播间



            .card
                a(class="read-more" target="_blank"  href="http://www.bobo.com/family/19898") 欣赏更多情感聊吧主播<br>请点击>>>

    script(src='/dev/scripts/bowl.js')
    script.
        require('/pages/pc/act/bobo/liaoba-debug');

//http://www.bobo.com/family/19898