.bolo-footer
    .container
        h4 联系我们
        p
            | 合作咨询和问题反馈，欢迎您通过以下方式与我们联系
            br
            | QQ：3530721286
            br
            | email：gzxuxiaochun#corp.netease.com（#换成@）
            br
            | 官方微博：
            a(href='http://weibo.com/wangyibolo?refer_flag=1001030102_&is_hot=1',target='_blank') @网易菠萝菌
            br
            | 官方微信：网易菠萝
        .qr-codes
            .download-page
                .qr-wrap
                    .body
                .text 下载网易菠萝来瞅瞅
            .bolo-wechat-account
                .qr-wrap
                    .body
                .text 网易菠萝微信公众号
