.tip-dialog{
  width:100%;height:100%;position:fixed;top:0;left:0;overflow:hidden;display:none;z-index:20;
  .container{
    width:286px;min-height:150px;background:rgba(46,46,46,.9);border-radius:5px;position:absolute;top:-200px;margin-top:-90px;left:50%;margin-left:-143px;overflow:hidden;@include transition-normal(top .2s linear);
    .title{margin-top:14px;color:#fff;text-align:center;}
    .content{margin-top:40px;padding:0 50px;text-align: center;color:#fff;min-height:38px;}
    .confirm-btn{width:100px;height:26px;line-height:26px;background:$main-color;margin:34px auto 25px;border-radius:2px;text-align:center;cursor:pointer;}
    .remove-btn{@include icon-bg(16px,16px,image-path('icon04.png'));position:absolute;top:9px;right:9px;cursor:pointer;}
  }
  &.show{
    .container{top:50%;}
  }
  &.add-set-dialog{
    .container{
      .content{margin-top:22px;padding:0;}
      input{width:220px;height:20px;padding:4px 6px;background:none;border:1px solid #e5e5e5;border-radius:2px;margin:0 auto;display: block;color:#fff;}
      .confirm-btn{margin-top:22px;}
    }
  }
}

.intro-dialog{
  width:100%;height:100%;position:fixed;top:0;left:0;overflow:hidden;display:none;z-index:6;background:url(/dev/images/common/dialog-cover.png);
  &.show{display: block;}
  .container{
    width:560px;position: absolute;left:50%;margin-left:-280px;top:50%;margin-top:-132px;background:#fff;border-radius:6px;overflow: hidden;
    .dialog-header{height:38px;line-height:38px;background:$main-color;text-align:center;font-size:16px;color:#fff;font-weight:bold;}
    .content{
      margin-top:10px;padding:0 20px;height:150px;overflow: auto;
      h5{font-size:16px;margin-top:20px;}
      .section{
        font-size:14px;margin-top:10px;
        span{margin-left:20px;margin-top:5px;display: block;}
      }
    }
    .confirm-btn{width:100px;height:26px;line-height:26px;background:$main-color;margin:20px auto;border-radius:2px;text-align:center;cursor:pointer;}
    .remove-btn{@include icon-bg(16px,16px,'/dev/images/common/chacha01.png');position:absolute;top:9px;right:9px;cursor:pointer;}
  }
}

.join-bolo-dialog{
  width:100%;height:100%;position:fixed;top:0;left:0;background:url(/dev/images/common/dialog-cover.png);overflow: auto;z-index:3;
  .container{
    width:700px;position:absolute;left:50%;margin-left:-350px;top:50%;margin-top:-430px;
    .content{
      border-radius:4px;overflow: auto;background:#fff;
      .join-bolo-please{height:56px;line-height:56px;background:#ffe805;text-align:center;font-size:24px;color:#766442;}
      .tip{color:$gray;margin-top:26px;font-size:16px;padding-left:58px;padding-right:58px;}
      .body{
        overflow: auto;
        .form-container{
          width:582px;margin:32px auto 0;padding-bottom:10px;border-bottom:1px dashed #f0f0f0;
          .form-item{
            padding-left:150px;position:relative;height:44px;margin-bottom:20px;font-size:14px;
            span{width:150px;text-align:right;line-height:44px;position: absolute;left:0;top:0;}
            .input-wrap{
              border:1px solid #f0f0f0;height:42px;overflow: hidden;padding:0 10px;
              input{border:0;background:none;width:100%;height:24px;margin-top:9px;}
            }
          }
        }
        .id-img-form{
          width:582px;margin:36px auto 0;
          h5{font-size:16px;color:#666;}
          .form-wrap{
            margin-top:24px;@include justify-box;
            .item{
              width:258px;display: inline-block;vertical-align: top;font-size:14px;color:#666;
              .img-wrap{
                height:178px;background:#f3f3f3;position:relative;@include filled-img;
                .file-input{
                  @include center-absolute-box(130px,38px);background:#ffe805;border-radius:4px;text-align: center;line-height:38px;
                  .icon-cross{@include css-icon-cross(12px,#666);display: inline-block;vertical-align: middle;}
                  .text{display: inline-block;vertical-align: middle;margin-left:5px;}
                }
                input{width:100%;height:100%;position:absolute;top:0;left:0;opacity:0;cursor:pointer;}
              }
              .id-tip{line-height:36px;text-align: center;}
            }
          }
        }
        .confirm-box{
          width:488px;margin:30px auto 0;
          .agreement-check{
            input,
            .text{display: inline-block;vertical-align: middle;margin:0;}
            .text{margin-left:10px;font-size:14px;}
            .agreement-btn{color:#0054ff;cursor:pointer;}
          }
          .submit-btn{height:46px;line-height:46px;text-align: center;font-size:18px;color:#7e6b3f;background:#ffe805;border-radius:4px;margin-top:16px;cursor:pointer;}
          .contact-tip{text-align: center;line-height:40px;font-size:14px;color:$gray;}
        }
      }
    }
    .remove-btn{@include absolute-box(46px,46px,auto,-15px,auto,-15px);background:url(/dev/images/pages/pc/act/share/1-0-x/dialog-remover.png);cursor:pointer;}
  }

  &.enter{
    .container{
      .content{
        .tip{padding-right:58px;}
      }

    }
  }
}