.fun.shit-wrapper
    .title
    .content-wrap
        .content
            .official-tip
                .copywriting
                    p 想当跑会小能手，首先要对CJ周边的吃住行了然于心！要知道每年在ChinaJoy领饭盒、订宾馆、找车位可都是场硬战，所以老司机给你准备了一份新手攻略，附赠超有趣下饭视频！
            .sub-content.eat
                .sub-title
                .sub-video-box
                    .list-wrap
                        .item(href='http://bolo.bobo.com/play?videoId=14627905280131',data-stat-key='eat1_h5')
                            .cover
                                img(src='http://img5.cache.netease.com/bobo/2016/7/28/20160728211217395c2.jpg')
                            .name 高校食堂揭秘，吃到第几个菜你哭了？
                        | &nbsp;
                        .item(href='http://bolo.bobo.com/play?videoId=14624312444581',data-stat-key='eat2_h5')
                            .cover
                                img(src='http://img6.cache.netease.com/bobo/2016/7/28/20160728211244abc5d.jpg')
                            .name 美女勇尝黑暗北京小吃
                .copywriting
                    p 每年人从众的CJ现场，运气好的宝宝可以排队领到免费饮料甚至是饭盒！不过饿货太多供不应求，菠萝菌建议大家还是自带食物，省下时间还可以逛更多展区噢。
                    br
                    p 展馆内外餐厅参考：
                    p 西餐厅(展馆南入口大厅1楼) 永和大王(龙阳路2000号)
                    p 自选餐厅(展馆南入口大厅2楼) 肯德基(龙阳路2000号、银霄路393号)
                    p 福记餐厅(W2馆，W3馆夹层) 麦当劳(龙阳路2345号)
                    p 麦当劳(W5馆夹层;E1馆B4室) 85度C(龙阳路2100号)
                    p 98餐厅(E3馆，E4馆夹层) 棒约翰(E4馆B1室)
                    p MILANO咖啡(E5馆R1室) 食客(E5馆B2室)
                    p Lacite咖啡(E6馆R1室)、大拇指广场(芳甸路199弄)。
            .sub-content.live
                .sub-title
                .sub-video-box
                    .list-wrap
                        .item(href='http://bolo.bobo.com/play?videoId=14672037825361',data-stat-key='live1_h5')
                            .cover
                                img(src='http://img1.cache.netease.com/bobo/2016/7/28/20160728211318550f8.jpg')
                            .name 床上运动延时实用指南
                        | &nbsp;
                        .item(href='http://bolo.bobo.com/m/play?videoId=14627905329991',data-stat-key='live2_h5')
                            .cover
                                img(src='http://img3.cache.netease.com/bobo/2016/7/28/2016072821134522797.jpg')
                            .name 千年皇宫酒店的诡异案件
                .copywriting
                    h5 1、屌丝型住宿推荐
                    br
                    p 兜里揣着两张毛爷爷，风风火火来CJ，照样能活的像个好汉。菠萝菌特选了几家便宜实惠的住处，大家随意哈。
                    br
                    p ▶花木路站3号口>>博相X宾馆，距会场0.7KM，100+/晚
                    p ▶高科西路>>如X酒店，距会场2.1KM，100+/晚
                    br
                    h5 2、小资型住宿推荐
                    br
                    p 有点小钱，想住更安全更卫生的酒店的话，还是选择熟悉的快捷酒店品牌吧！CJ期间这些品牌均会一房难求，且均有小幅度涨价，还没订房的抓紧啦！
                    br
                    p ▶芳甸路>>宜X思酒店，距会场1.6km。300+/晚
                    p ▶磁悬浮总站>>锦X连锁酒店，距会场1.3km。300+/晚
                    p ▶陆家嘴东方路>>汉X连锁酒店，距会场2.3km.300+/晚
                    br
                    h5 3、闪瞎狗眼型住宿推荐：
                    br
                    p 作为国际大都市的上海，自然是少不了各种豪华酒店的，在这里你可以享受到与价格相称的高品质服务，和周边超棒的景色，在夜晚也能俯瞰CJ展馆。
                    br
                    p ▶花木路站5号口>>浦东JL大酒店，距会场0.1km，1000+/晚
                    p ▶世纪公园站4号口>>上海DS酒店，距会场1.7km，800+/晚
            .sub-content.play
                .sub-title
                .sub-video-box
                    .list-wrap
                        .item(href='http://bolo.bobo.com/m/play?videoId=14642625044581',data-stat-key='trans1_h5')
                            .cover
                                img(src='http://img2.cache.netease.com/bobo/2016/7/21/20160721173954903c0.jpg')
                            .name 平胸的人挤公交是一种什么样的体验？
                        | &nbsp;
                        .item(href='http://bolo.bobo.com/play?videoId=14659579893881',data-stat-key='trans2_h5')
                            .cover
                                img(src='http://img3.cache.netease.com/bobo/2016/7/28/20160728211419020a9.png')
                            .name 来自星星的富二代在地球开车违章
                .copywriting
                    p CJ位于坐落于上海浦东开发区的上海新国际博览中心（SNIEC），比邻世纪公园。东距浦东国际机场35公里，西距虹桥国际机场32公里，整体位于上海的东南角，有多种交通方式可达，贴心的菠萝菌为大家准备了各种出行方式的耗时&开销，原住民们尽情挑选吧~
                    br
                    h5 1、机场/火车站出发
                    br
                    p 浦东国际机场/虹桥机场—上海新国际博览中心
                    p 出租车：约35分钟；车费约95元；
                    p 磁浮列车：仅8分钟；单程50元（如出示机票，单程40元）；往返80元；
                    p 机场三线、机场六线：约40分钟；车费16元；
                    p 地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心
                    br
                    p 上海火车站—上海新国际博览中心
                    p 出租车：相距16公里；车费约45元；
                    p 地铁：可乘1号线到人民广场站，换乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心
                    br
                    p 上海南站—上海新国际博览中心
                    p 出租车：相距20公里；车费约55元；
                    p 地铁：可乘1号线到人民广场站，换乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心
                    br
                    p 上海虹桥火车站—上海新国际博览中心
                    p 出租车：相距35公里；车费约100元；
                    p 地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心
                    br
                    h5 2、自 驾
                    br
                    p 上海新国际博览中心位于龙阳路、罗山路交汇处，易于通行。从市中心横跨南浦大桥、杨浦大桥可直达。
                    p 停车位：上海新国际博览中心共有4603个车位供客人泊车。
                    br
                    h5 3、地铁、公交
                    br
                    p 1号线常熟路站，2号线静安寺站，3号线镇平路站，4号线镇平路站或东安路站，可换乘7号线直达上海新国际博览中心。3、4号线中山公园站，1、8号线人民广场站，4、6、9号线世纪大道站皆可换乘2号线，至龙阳路站下，再步行或换乘7号线至上海新国际博览中心。
                    p 多条公交线路途经上海新国际博览中心，附近设有站点：989区间、大桥五线, 大桥六线区间、方川专线、东川专线、花木1路、机场三线、机场六线、975、976等。
