.girls.shit-wrapper
    .title
    .content-wrap
        .content
            .official-tip
                .copywriting ChinaJoy除了有好玩的游戏，还有好看的男神女神。不过今年Showgirl的着装规定史无前例地严格，只能看大长腿啦。今年老司机勾搭了不少高颜值coser和showgirl，带你先睹为快≖‿≖✧