.ip-wall.shit-wrapper
    .title
        .total
    .content-wrap
        .content
            .copywriting (ﾉ>ω<)ﾉ恭喜你，打开了通往新世界的大门！这里有【最搞笑】【最逗比】【最污】【最适合如厕时间】的视频up主！点一个试试看吧~
            .ip-list
                .item(data-href='http://bolo.bobo.com/play?videoId=14624312631231')
                    img(src='http://img3.cache.netease.com/bobo/2016/7/29/20160729124223efd0b.png')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14625158891881')
                    img(src='http://img6.cache.netease.com/bobo/2016/7/29/20160729124159fca82.png')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14690683620701')
                    img(src='http://img6.cache.netease.com/bobo/2016/7/29/201607291301188293e.png')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14679744512741')
                    img(src='http://img4.cache.netease.com/bobo/2016/7/29/20160729123829b3e8b.png')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14641701383261')
                    img(src='http://img1.cache.netease.com/bobo/2016/7/29/20160729125333c3ef8.jpg')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14695024509841')
                    img(src='http://img3.cache.netease.com/bobo/2016/7/29/2016072920131385c08.png')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14672037815911')
                    img(src='http://img6.cache.netease.com/bobo/2016/7/29/201607291238032d22c.png')
                | &nbsp;
                .item(data-href='http://bolo.bobo.com/play?videoId=14661352277691')
                    img(src='http://img5.cache.netease.com/bobo/2016/7/29/20160729125406c5db2.png')
                //| &nbsp;
                //.item(data-href='http://bolo.bobo.com/play?videoId=14679744550051')
                //    img(src='http://img4.cache.netease.com/bobo/2016/7/29/201607291252458f42f.jpg')