.pavilion.shit-wrapper
    .title
    .content-wrap
        .content
            .official-tip
                .copywriting
                    p 作为今年参展商，菠萝老司机带大家提前探路2016CJ展馆！图中N2-N5，E5-E7为聚集最多游客和游戏厂商的BTOC展馆，其余展馆则为BTOB或硬件厂商展馆。下拉可查看2016的部分展区厂商分布图！
            .official-map

.pavilion-n4.shit-wrapper
    .title
    .content-wrap
        .content
            .area
            .area-intro.swiper-container
                ul.intro-list.swiper-wrapper
                    li.item.swiper-slide
                        h5 【暴雪】展区
                        p 今年的ChinaJoy暴雪继续带来《炉石传说》《魔兽世界》7.0前夕等热门游戏的试玩，更有《风暴英雄》新英雄奥莉尔全球首次亮相！这是暴雪首次将最新英雄的首发试玩放在中国。
                    li.item.swiper-slide
                        h5 【Minecraft】展区
                        p 今年是我的世界Minecraft首次亮相ChinaJoy，展区与暴雪、网易游戏相邻，其最受欢迎的开发者Jens Bergensten更是在个人Twitter透露将亲临现场与中国玩家见面！MC粉们千万不要错过噢
                    li.item.swiper-slide
                        h5 【网易游戏】展区
                        p 据说，本届ChinaJoy网易游戏包下1196m2超豪华展位，为玩家们打造史上最会玩的红色主场！现场提供《梦幻西游》《大话西游》“双游”经典，绝美《倩女幽魂》《天下》系列手游、端游试玩，还有游戏界玩红，高颜值showgirl，陪你high足四天四夜！
                    li.item.swiper-slide
                        h5 【菠萝】展区
                        p 既然今年ChinaJoy的主题是“泛娱乐”，怎能少得了菠萝菌的身影！老司机不仅带来超好玩的原创娱乐视频，还有好基友大力金刚给现场观众大派福袋！同时，不甘寂寞的网易菠萝还携手网易漫画，给杀手古德搞了个大新闻~
                .indicator
            .sub-video-box
                .sub-title
                .list-wrap
                    .item(href='http://bolo.bobo.com/m/play?videoId=14672037815911')
                        .cover
                            img(src='http://img3.cache.netease.com/bobo/2016/7/21/2016072117383168805.jpg')
                        .name 【暴走玩啥游戏】守望先锋这屁股！
                    | &nbsp;
                    .item(href='http://bolo.bobo.com/m/play?videoId=14679744550121')
                        .cover
                            img(src='http://img2.cache.netease.com/bobo/2016/7/21/20160721173626450f3.jpg')
                        .name 【网易菠萝】超燃IP大乱炖
                    | &nbsp;
                    .item(href='http://bolo.bobo.com/m/play?videoId=14679744492761')
                        .cover
                            img(src='http://img1.cache.netease.com/bobo/2016/7/21/20160721173814638e4.jpg')
                        .name 【杀手古德】动画预告片强势先行！
                    | &nbsp;
                    .item(href='http://bolo.bobo.com/play?videoId=14695024505421')
                        .cover
                            img(src='http://img6.cache.netease.com/bobo/2016/7/26/2016072615124725c7d.jpg')
                        .name 【网易游戏】玩红团明星代表邀你来CJ

.pavilion-n2.shit-wrapper
    .title
    .content-wrap
        .content
            .area
            .area-intro.swiper-container
                ul.intro-list.swiper-wrapper
                    li.item.swiper-slide
                        h5 【腾讯】展区
                        p 腾讯互娱将率23款端游、页游、手游、电视游戏在今年CJ登场，其中有5款新品首秀并提供试玩，还有1款未公布的神秘产品。
                    li.item.swiper-slide
                        h5 【完美世界】展区
                        p 今年完美世界主推端游《最终兵器》、《幻影突击》，手游《诛仙》。《最终兵器》为3D类动作MOBA游戏，《幻影突击》则是刚获得代理权的韩国第一人称射击游戏。展区还设了浴室迷魂区~难道能现场观看美人出浴？
                    li.item.swiper-slide
                        h5 【盛大】展区
                        p 盛大今年主打手游，主要包括《传奇3》、《传奇世界》、《龙之谷》手游，均提供现场试玩。端游方面，有《龙之谷》、《传奇永恒》等，还有最新代理的日本国民级RPG游戏《勇者斗恶龙X》。
                .indicator
.pavilion-n3.shit-wrapper
    .title
    .content-wrap
        .content
            .area
            .area-intro.swiper-container
                ul.intro-list.swiper-wrapper
                    li.item.swiper-slide
                        h5 【西山居】展区
                        p 西山居的参展产品还是最经典的剑侠系列，包括《剑侠世界》手游版，《剑侠情缘口袋版》，新作《猎魔军团》也将亮相现场。据透露，届时还会有神秘新端游曝光。
                    li.item.swiper-slide
                        h5 【37游戏】展区
                        p 去年，页游老司机37游戏携四款主推页游《传奇霸业》、《战国之怒》、《轩辕剑之天之痕》参展。同时更大走IP路线，推出《倒霉熊之激流勇进》、《樱桃小丸子之美食大冒险》等游戏试玩。今年消息密不透风，说不定届时会有重磅炸弹
                .indicator

.pavilion-n5.shit-wrapper
    .title
    .content-wrap
        .content
            .area
            .area-intro.swiper-container
                ul.intro-list.swiper-wrapper
                    li.item.swiper-slide
                        h5 【爱奇艺】展区
                        p 去年爱奇艺在ChinaJoy上大秀IP优势，专门请到《花千骨》、《灵域》小说作者莅临展会，还推出《奇葩说女神来了》游戏亮相BTOB展区，不知道今年有没有奇葩说嘉宾来到现场呢？
                    li.item.swiper-slide
                        h5 【支付宝】展区
                        p 土豪支付宝在2015年ChinaJoy上用无人机送餐吸引眼球，拯救了一大批现场饿货。希望今年马云来点实在的，直接无人机送红包吧！
                .indicator