.periphery.shit-wrapper
    .title
    .content-wrap
        .content
            .official-tip
                .copywriting 每年CJ，土豪参展商都会在现场派发特别定制的免费周边，手慢的根本抢不到好嘛 (╯°Д°)╯︵ ┻━┻！老司机整理了后备箱的周边存货供大家鉴赏，内含刷周边小TIPS，千万憋错过噢
            ul.periphery-list
                li.item
                    .cover
                        img(src='http://img4.cache.netease.com/bobo/2016/7/18/201607181715060481c.png')
                    .name(data-intro='早起的观众有包领！历年chinajoy一些土豪厂商都有送推车送箱包的活动，提前排队占位拿下收纳神器，就可以尽情收割你喜爱的周边啦') 【收纳型周边】
                | &nbsp;
                li.item
                    .cover
                        img(src='http://img3.cache.netease.com/bobo/2016/7/18/201607181714102e0f2.jpg')
                    .name(data-intro='想收藏一套萌翻的多啦A梦，不用再去麦当劳买儿童套餐啦，CJ现场款式更多更精致。还有各种Q版游戏角色手办，很适合作为CJ伴手礼送给妹纸噢。') 【萌物系周边】
                | &nbsp;
                li.item
                    .cover
                        img(src='http://img3.cache.netease.com/bobo/2016/7/18/201607181714361df7e.jpg')
                    .name(data-intro='注意！前方有一大♂波肉体出动！乳此凹凸有致细节逼真的手办，老司机血槽已空。不知道价格是不是和罩杯SIZE成正比呢(*/ω＼*)') 【宅男福利周边】
                | &nbsp;
                li.item
                    .cover
                        img(src='http://img2.cache.netease.com/bobo/2016/7/18/20160718171231fb745.jpg')
                    .name(data-intro='要说喷血，暴雪爸爸的翘臀女儿们也是不甘示弱的。图中这个猎空闪光手办在官网价格是150刀，折合人民币要1005元，果真需要大出血...') 【暴雪系周边】
                | &nbsp;
                li.item
                    .cover
                        img(src='http://img5.cache.netease.com/bobo/2016/7/26/201607262028117f83c.jpg')
                    .name(data-intro='今年CJ，菠萝展区有免费撩妹神器派发，特殊质地消除缠绵时的粘腻感，给ta爽彻心扉欲罢不能的体验 (☆▽☆)y。猜到是什么了吗？欢迎来评论区留言噢~') 【菠萝周边】
                | &nbsp;
                li.item
                    .cover
                        img(src='http://img5.cache.netease.com/bobo/2016/7/18/2016071817114879856.png')
                    .name(data-intro='wuli大黄易今年包下了全场最壕最大的展位，周边当然不能示弱。嫣然巧笑巫蛮儿，乘风破浪龙太子，更有超萌的小剑小骨CP八音盒等你领回家') 【网易系周边】
.image-dialog
    .container
        img
        .name
            h5
            p