//
   Created by Dillance on 16/9/26.

extends ./../../../../layout
block head
    meta(name="keywords" content="网易菠萝 短视频 二次元 网络剧 真人短剧 在线直播 萌动漫 污视频 贱直播")
    meta(name="description" content="菠萝是网易旗下海量短视频平台 年轻人娱乐社区 热门IP短剧想看就看 更有著名IP创作团队与你即时直播互动 就差爱吐槽的你 赶快加入")
    title 成功
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no',name='viewport')
    include ../../../_include/base-m-dependencies
    link(rel='stylesheet', href='/dev/styles/mobile/pages/recharge/1-0-x/success.css')
    - var originWidth = 720
    include ../../../_include/rem-helper
block content
    .wrapper
        .pay_suc
            .suc_photo
            .suc_tips 菠萝菌正在为您跳转页面
            .suc_btn 确定
    script.
        require('/pages/mobile/recharge/1-0-x/success');
    include ../../../_include/cnzz-stat