.user-editor{
  width:100%;height:100%;position:fixed;top:0;left:0;z-index:5;display: none;
  &.show{display: block;}
  .container{
	width:700px;height:580px;position:absolute;left:50%;top:50%;margin-left:-350px;margin-top:-290px;background:#fff;box-shadow:0 0 5px 2px #999; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 4px;overflow: hidden;
	.editor-header{
	  height:40px;line-height:40px;text-align:center;font-size:16px;position: relative;background:#f8f8f8;
	  .remove-btn{@include icon-bg(16px,16px,'/dev/images/common/chacha02.png');position:absolute;right:17px;top:50%;margin-top:-8px;cursor: pointer;}
	}
	.content{
		padding:20px 78px 0;
	  	.form-item{
		  padding-left:95px;position: relative;margin-top:14px;min-height:28px;line-height:28px;
		  .title{line-height:28px;position: absolute;left:5px;top:50%;margin-top:-14px;padding-left:10px;}
		  .avatar{
			@include circle-avatar(68px);position:relative;
		  	input{width:100%;height:100%;position: absolute;opacity: 0;top:0;left:0;cursor:pointer;}
		  }
		  .tip{color:$gray;margin-top:5px;}
		  .input-wrap{
			@include text-input;position: relative;
			.letter-count{color:$gray;position: absolute;right:10px;top:0;}
		  }
		  textarea{border:1px solid #e5e5e5;border-radius:2px;overflow: hidden;padding:8px 38px 8px 8px;height:7*20px;line-height:20px;display: block;width:400px;resize: none;}
		  .textarea-count{color:$gray;position: absolute;right:10px;top:5px;}
		}
	  .save-btn{@include bolo-btn(270px,40px);font-size:16px;margin:24px auto 0;}
	}
  }
}
