link(rel='stylesheet', href='/dev/styles/pc/pages/newbolo/components/dialog/report/1-0-x/index.css')
.report-modal(class="hidden")
    .report-dialog
        .border
        .report-wrapper
            .report-header
                .title
                .close-btn
            textarea.report-body(placeholder='')
            .report-footer
                .cancel-btn 取消
                .submit-btn 发送

    .success-tips 提交成功
