script(type='text/template', data-key='banner')
    img(src!='<%=data.cover%>')
    .video-count
        .wrap
            .num <%=data.videoCount%>
            | 视频
    .play-count <%=data.playCount%>次