//
   Created by Dillance on 17/1/18.

footer.bobo-footer(style='margin-top:0;')
    .foot(style='width:auto;overflow:hidden')
        p
            a(href='http://www.bobo.com/special/help/info.html', title='BoBo简介', target='_blank') BoBo简介
            i
            a(href='/help?helpType=3', title='商务联系', target='_blank') 商务联系
            i
            a.js-feedback(href='javascript:;', title='意见反馈') 意见反馈
            i
            a(href='http://www.bobo.com/special/help/operate.html', title='帮助中心', data-keyfrom='service', target='_blank') 帮助中心
            i
            a(href='http://www.bobo.com/special/help/site.html', title='合作网站', target='_blank') 合作网站
        p
            span BoBo©1997-2016 杭州播播科技有限公司版权所有
            span 浙网文[2015]0293-063号
            span 浙ICP备15005366号
            span 经营许可证编号：浙B2-20150144
            span
                a(target='_blank', href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33010002000114') 浙公网安备 33010002000114号
            span
                a(target='_blank', href='http://img1.cache.netease.com/f2e/www/index2014/images/stxk2015.png') 信息网络传播视听节目许可证
            span
                a(target='_blank', href='http://img1.cache.netease.com/f2e/www/index2014/images/stxkz1119.jpg') 广播电视节目制作经营许可证
