//
   Created by Dillance on 17/1/18.

link(rel='stylesheet', href='/dev/styles/pc/pages/newbolo/components/footer/1-0-x/index.css')
.newbolo-footer
    .container
        .left-box 网易菠萝原班团队倾力打造的泛游戏视频社区，立足网易游戏、暴雪资源优势，聚合知名游戏、搞笑、动画类PGC，提供内容丰富的娱乐视频。
        | &nbsp;
        .right-box 下载：
            .download-btn.ios
            .download-btn.android
