//
   Created by Dillance on 16/9/26.

extends ./../../../../layout
block head
    meta(name="keywords" content="网易菠萝 短视频 二次元 网络剧 真人短剧 在线直播 萌动漫 污视频 贱直播")
    meta(name="description" content="菠萝是网易旗下海量短视频平台 年轻人娱乐社区 热门IP短剧想看就看 更有著名IP创作团队与你即时直播互动 就差爱吐槽的你 赶快加入")
    title 邀请奖励
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no',name='viewport')
    include ../../../_include/base-m-dependencies
    link(rel='stylesheet', href='/dev/styles/mobile/pages/invitation/1-0-x/code.css')
    - var originWidth = 1080
    include ../../../_include/rem-helper
block content
    .wrapper
        .tip-box
            .content
                .img
                .intro 把观影码分享给好友，可让他们免费看
                    i 大力金刚第二季
        .code-box
            .title 发送您的观影码
            .code
            .usage-tip
                | 您还可以有
                i 0
                | 次使用机会
            .share-btn 分享到社交媒体
    script.
        var SETS_INFO = !{JSON.stringify(setsInfo)};
    script.
        require('/pages/mobile/invitation/1-0-x/code');
