//
   Created by Dillance on 16/9/22.

extends ./../../../../layout
block head
    meta(name="keywords" content="网易菠萝 短视频 二次元 网络剧 真人短剧 在线直播 萌动漫 污视频 贱直播")
    meta(name="description" content="菠萝是网易旗下海量短视频平台 年轻人娱乐社区 热门IP短剧想看就看 更有著名IP创作团队与你即时直播互动 就差爱吐槽的你 赶快加入")
    title 邀请您看视频
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no',name='viewport')
    include ../../../_include/base-m-dependencies
    link(rel='stylesheet', href='/dev/styles/mobile/pages/invitation/1-0-x/video.css')
    - var originWidth = 1080
    include ../../../_include/rem-helper
block content
    .wrapper
        .video-cover
        .ticket
            .title 免费观影码:
            .info
                .code
                .usage-tip
                    | 您还可以有
                    i 0
                    | 次使用机会
        .tutorial
            p 参照下面的教程，赶紧上车！
            .icon-point
            p 1.下载
                i 网易菠萝
            p 2. 登录后进入个人中心-兑换码，填写你的观影码即可免费观看
                span(class="set-name") 大力金刚第二季前5集视频！
    script.
        require('/pages/mobile/invitation/1-0-x/video');
    script.
        var SETS_INFO = !{JSON.stringify(setsInfo)};
    include ../../../_include/ui/download-bar/1-0-x/index