// created by chesszhang

extends ./../../../../layout
block head
    include ../../../_include/base-dependencies
    title 网易菠萝-有内涵无广告萌贱原创视频神器
    link(rel='stylesheet', href='/dev/styles/pc/pages/notfound/1-0-x/index.css')
block content
    .wrapper
        a.home-page-btn(href="/download?from=404") 返回首页
    include ../../../_include/cnzz-stat