//
   Created by Dillance on 16/8/12.

extends ./../../../../layout
block head
    meta(name='keywords', content='网易菠萝 萌贱污 无广告 视频')
    meta(name='description', content='网易菠萝-有内涵无广告萌贱原创视频神器')
    title 网易菠萝
    include ../../../_include/base-dependencies
    link(rel='stylesheet', href='/dev/styles/pc/pages/demo/three/index.css')
block content
    script.
        require('/pages/pc/demo/three/objLoader');