meta(name='apple-mobile-web-app-capable',content="yes")
meta(name='apple-mobile-web-app-status-bar-style',content="black")
meta(name='x5-orientation',content="portrait")
meta(name='screen-orientation',content="portrait")
meta(name='format-detection',content='telephone=no')
link(rel='stylesheet', href='/dev/styles/mobile/common/base/1-0-x/base.css')
script(src='/dev/scripts/bowl.js')
if (userInfo)
    script.
        var USER_INFO = !{JSON.stringify(userInfo)};