script(type='text/template', data-key='video-wrap')
    <% data.forEach(function(d,i){ %>
    .list-wrap(data-cid!='<%=d.id%>',data-name!='<%=d.name%>')
        .scroll-wrap
            ul.video-list
        .fly-to-top
    <% }); %>