extends ./../../../../../layout
block head
    meta(name='description', content='网易菠萝，精品无广告原创视频内容，好玩吐槽神奇社区，只做年轻人最爱的（超趣味）2.5次元内容。')
    meta(name='keywords', content='网易菠萝, 网易, 菠萝, 无广告, 萌贱污, 原创视频, 视频, 吐槽, 社区, 神奇, bolo, boluo, 视频社区, 内涵段子, 大力金刚,直播,小视频,网红,快看,暴走漫画,同道大叔,烧脑,花熊,漫画岛,bilibili,腾讯, 土豆,小咖秀,快手,有妖气,内涵,二次元,acfun')
    title 网易菠萝 - 有内涵无广告萌贱污原创视频神器
    link(rel='stylesheet', href='/dev/styles/pc/pages/act/hangzhou/1-0-x/index.css')
    script(src='/dev/scripts/bowl.js')
block content
    .wrapper
        .header
            .container
                .logo
                .menu
                    a.download(href="/download") 我要下载
                    a.join(href="/join") 我要入驻
        .main
            .player-area
                video(controls=true)
                .float-tips
                .next-btn
                .video-name 不知道是什么视频的标题

            .comment-area
                .info
                    .wording
                        .video-name 不知道是什么视频的标题
                        .count
                            span 评论(
                            span.comment-count 251
                            span )
                    .post-img
                        a.play-btn(target="_blank")
                ul.comment-list
                    li
                        .user-img
                            img(src="//img1.cache.netease.com/bobo/img16/bolo1607/u=1038237434,427646412&fm=23&gp=0.jpg")
                        .content
                            .user-name 用户昵称哈哈哈哈
                            .comment-content 评论内容哈哈哈哈哈哈哈哈哈哈
                        .like
                            .count 23980
                    li
                        .user-img
                            img(src="//img1.cache.netease.com/bobo/img16/bolo1607/u=1038237434,427646412&fm=23&gp=0.jpg")
                        .content
                            .user-name 用户昵称哈哈哈哈
                            .comment-content 评论内容哈哈哈哈哈哈哈哈哈哈
                        .like
                            .count 23980
                    li
                        .user-img
                            img(src="//img1.cache.netease.com/bobo/img16/bolo1607/u=1038237434,427646412&fm=23&gp=0.jpg")
                        .content
                            .user-name 用户昵称哈哈哈哈
                            .comment-content 评论内容哈哈哈哈哈哈哈哈哈哈
                        .like
                            .count 23980
            .gallery-area
                .wrap
                    .channel-container
                        .channel
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14627905313071" target="_blank")
                                    img(src="//img1.cache.netease.com/bobo/2016/12/13/20161213184146b61f7.png")
                                    h3.title 大力金刚

                            .img-container
                                a(href="//bolo.163.com/play?videoId=14800587094951" target="_blank")
                                    img(src="//img5.cache.netease.com/bobo/2016/12/13/201612131846006140b.png")
                                    h3.title 我们不捉妖
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14811967782171" target="_blank")
                                    img(src="//img6.cache.netease.com/bobo/2016/12/13/201612131855562acee.png")
                                    h3.title 梅嘲讽
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14800587095161" target="_blank")
                                    img(src="//img5.cache.netease.com/bobo/2016/12/13/20161213185320469d3.png")
                                    h3.title 废柴狐阿桔
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14800587095321" target="_blank")
                                    img(src="//img4.cache.netease.com/bobo/2016/12/13/201612131857051ab43.png")
                                    h3.title 凹凸君说
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14787721615851" target="_blank")
                                    img(src="//img5.cache.netease.com/bobo/2016/12/13/201612131845274787f.jpg")
                                    h3.title 皇霸天下
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14811845034821" target="_blank")
                                    img(src="//img1.cache.netease.com/bobo/2016/12/13/20161213190452ef16b.png")
                                    h3.title 暴走大事件
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14730703605771" target="_blank")
                                    img(src="//img3.cache.netease.com/bobo/2016/12/13/20161213190248f4b32.png")
                                    h3.title 阴阳师
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14811967758671" target="_blank")
                                    img(src="//img4.cache.netease.com/bobo/2016/12/13/201612131912040a8d0.png")
                                    h3.title 长歌是大腿
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14811845034641" target="_blank")
                                    img(src="//img6.cache.netease.com/bobo/2016/12/13/20161213190607c3af4.png")
                                    h3.title 关八日报
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14760157195711" target="_blank")
                                    img(src="//img6.cache.netease.com/bobo/2016/12/13/201612131903560abf0.jpg")
                                    h3.title 异次元战姬
                            .img-container
                                a(href="//bolo.163.com/play?videoId=14808535496081" target="_blank")
                                    img(src="//img5.cache.netease.com/bobo/2016/12/13/20161213190153ff5ce.png")
                                    h3.title 徐老师来巡山

            .praise-area
                .content
                    .wording 视频炒鸡污.....没广告！产品细节也做得好短视频 就在这上面看啦，网易菠萝，二次元我的爱，支持!
                    //.writter 来自菠萝饭：潇儿1111
                //li.content(class="hidden")
                //    .wording 2视频炒鸡污.....没广告！产品细节也做得好短视频 就在这上面看啦，网易菠萝，二次元我的爱，支持!
                //    .writter 来自菠萝饭：潇儿1111
                //li.content(class="hidden")
                //    .wording 3视频炒鸡污.....没广告！产品细节也做得好短视频 就在这上面看啦，网易菠萝，二次元我的爱，支持!
                //    .writter 来自菠萝饭：潇儿1111
                //li.content(class="hidden")
                //    .wording 4视频炒鸡污.....没广告！产品细节也做得好短视频 就在这上面看啦，网易菠萝，二次元我的爱，支持!
                //    .writter 来自菠萝饭：潇儿1111
            .pot
                ul.toolbar
                    li.btn(class="active")
                    li.btn
                    li.btn
        .footer
            .container
                ul.link-list
                    li
                        a(href="http://mp.weixin.qq.com/s/YIR1WaBFexc7iuoPLmKU0w" title="杭州湖滨银泰" target="_blank")
                    li
                        a(href="http://gacha.163.com/" title="网易gacha" target="_blank")
                    li
                        a(href="http://manhua.163.com" title="网易漫画" target="_blank")
                    li
                        a(href="http://xue.youdao.com/bbs/activities" title="有道" target="_blank")
                    li
                        a(href="http://dada.163.com" title="哒哒" target="_blank")
                    li
                        a(href="http://zj.163.com/index.html" title="异次元战姬" target="_blank")
                .link-yinyangshi
                    a(href="http://yys.163.com/mj2/" title="阴阳师" target="_blank")

        .official-qrcode
            .close-btn

    script.
        require('/pages/pc/act/hangzhou@1-0-x');

    include ../../../../_include/cnzz-stat