// created by chesszhang
extends ./../../../../layout
block head
    include ../../../_include/seo
    title 网易菠萝-有内涵无广告萌贱原创视频神器
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(name="format-detection" content="address=no,email=no,telephone=no")
    include ../../../_include/base-m-dependencies
block content
    h1 分享测试页面
    script.
        require('/pages/mobile/wechat@1-0-x')
    include ../../../_include/cnzz-stat