//
   Created by Dillance on 16/8/25.

extends ./../../../../../layout
block head
    include ../../../../_include/seo
    title 网易菠萝分享计划
    meta(content='width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no',name='viewport')
    include ../../../../_include/base-m-dependencies
    link(rel='stylesheet', href='/dev/styles/mobile/pages/act/share/1-0-x/index.css')
    - var originWidth = 1080
    include ../../../../_include/rem-helper
block content
    .details-rules
        h5 网易菠萝分享计划协议
        .section 用户在申请或使用网易菠萝分享计划前,请仔细阅读网易菠萝分享计划协议(以下简称为“本协议”)中所有内容,尤其是粗体标注的内容。
        h5 一、本协议的确认和修改
        .section 1. 本协议是网易菠萝分享计划参与者(以下简称“参与者”)与网易菠萝之间的协议,网易菠萝依据本协议为参与者提供网易菠萝分享计划服务。
        .section 2. 如用户不同意本协议任意内容,请勿申请或使用网易菠萝分享计划。如用户申请网易菠萝分享计划并通过审核成为参与者,即表示参与者与网易菠萝已达成协议,自愿接受本协议的所有内容。此后,参与者不得以未阅读本协议内容作任何形式的抗辩。
        .section 3. 网易菠萝有权在必要时通过公告等合理方式修改本协议。参与者在享受服务时,应当及时查阅了解修改的内容,并自觉遵守本协议。参与者如继续使用本协议涉及的服务,则视为对修改内容的同意,当发生有关争议时,以最新的协议为准;参与者在不同意修改内容的情况下,有权停止使用本协议涉及的服务。
        .section 4. 本协议为《网易菠萝用户服务条款》的一部分。若本协议与《网易菠萝用户服务条款》相冲突,冲突部分以本协议为准。
        h5 二、分享计划
        .section 1. 网易菠萝分享计划,是网易菠萝面向用户推出的意在通过用户分享网易菠萝平台内容链接,扩大网易菠萝内容有效播放量,以吸引优质用户,从而提供给用户的奖励收入(以下简称“分享计划收入”)计划。用户通过打开网易菠萝分享计划页面后,点击“申请加入”,按照网易菠萝的提示填写相关信息并提交相关申请文件后,网易菠萝将对申请用户进行审核。审核通过后,该用户即成为有效的参与者。参与者应确保提交的相关信息(包括但不限于身份证明)的真实性及完整性。如上述申请信息发生变化,用户应及时更新提交至网易菠萝。若用户提供给网易菠萝的信息不准确,不真实,网易菠萝有权采取不予通过审核等措施。
            br
            | 参与者通过网易菠萝平台将相关内容分享至第三方平台如 QQ 空间、微博、微信等,网易菠萝将通过参与者分享的内容的有效播放次数、因此带来的有效用户等作为结算依据。若参与者违反相关协议政策,结算依据随之调整。
        .section 2. 加入网易菠萝分享计划后,之前上传到网易菠萝符合要求的历史内容及之后新上传的内容都可以参与分享计划。针对历史内容,自参与分享计划之后产生的新的播放均可产生分享计划收入。
            b 所有参与分享计划的内容必须是原创内容或拥有合法版权或者版权使用权的内容,所有参与分享计划的内容不得带有任何明显的广告内容。一旦发现参与者在被分享内容中加入违规和其他带有广告性质的内容,网易菠萝有权中断或终止与其合作,取消其参与者资格,冻结、没收其未支付的分享计划收入和追回已支付的分享计划收入,并保留追究其相应法律责任的权利。
        .section 3. 具体分享计划收入以参与者登录网易菠萝后点击分享计划栏目里显示的收入为准。结算周期为自然周,每周将计算上一个结算周期的收入。目前网易菠萝分享计划仅支持支付宝收款方式。
            b 参与者须将网易菠萝账户绑定支付宝账户,且支付宝的开户人姓名或名称须与参与者提交的身份验证资料上的姓名或企业名称一致。参与者须保证支付宝账户信息填写的正确性及真实性,并承诺不擅自更换绑定的支付宝账户,否则因此导致的风险(包括但不限于分享计划收入收款不成功等)均由参与者自行承担。参与者认可结算数据以网易菠萝平台系统记录的数据为准。如在过程中出现参与者违规,参与者同意并认可网易菠萝有权按照分享计划收入发放相关规则和/或网易菠萝对违规情形、交易纠纷的认定结果对分享计划收入进行相应处理,并对前述处理结果不持异议。
        .section
            b 4. 作为企业的分享计划参与者有按国家相关法律法规有提供发票的义务。网易菠萝在每次支付分享计划收入时都会预扣 10%,在收到相应发票后会把此等 10%预扣款和下次分享计划收入一起发放。
        .section
            | 发票信息:
            br
            | 公司名称:杭州来秀信息技术有限公司
            br
            | 开户行:工商银行浙江省分行营业部本级
            br
            | 银行帐号:1202021109900198236
            br
            | 纳税人识别号:330100329595935
            br
            | 地址:杭州市滨江区长河街道网商路 599 号 4 栋 406 室
            br
            | 电话:0571-89852052
            br
            | 发票类型:增值税专用发票
            br
            | 发票名目:视频使用费或视频授权费
            br
            br
            | 发票邮寄地址:广州天河区科韵路信息港方圆 E 时光西座 23 层
            br
            | 邮编:510000
            br
            | 联系人:许晓纯
            br
            | 联系电话:+86 15017561838
            br
            | 请注意:发票必须加盖发票专用章,不是公司章;盖章位置不能覆盖密码区,也最好不要遮挡数字。
        .section
            b 5. 针对自然人作为分享计划参与者,网易菠萝会按国家相关法律法规规定代扣增值税及附加税、水利建设基金以及个人所得税,相关税金将从分享计划收入中直接扣除。每次提现扣税=本月提现累计收益应缴税-本月提现累计已缴税。
        .section 6. 网易菠萝将针对被分享内容的“原创性”、“是否含广告”、“违规刷量”等方面进行审查并自主进行认定。参与者不得以任何不诚信的手段来牟取不恰当收益。不诚信的手段包括并不限于:通过人工、程序或软件制造的无效点击提高流量,例如自行点击,煽动他人产生点击;通过程序或脚本模拟用户的点击,自动化点击(例如付费点击、自动浏览、点击机,代理服务器 IP 点击,假 IP 点击,相互点击,自动刷新);一切非正常投放的产品形式,一切以文字诱导或强制用户点击的行为(例如:利用文字诱导、强制用户点击)或网易菠萝认定的其他作弊行为。
            br
            | 上款规定的不诚信手段将被视为无效展示;
            b 当发现参与者使用上款规定的不诚信手段进行不当得利时,网易菠萝有权中断或终止与其合作,取消其参与者资格,冻结、没收其未支付的分享计划收入,追回已支付的分享计划收入,并保留追究其相应法律责任的权利。
        .section 7. 考虑到账户安全问题,参与者在首次提交收款账户信息后,不可自行修改收款账号信息,包括但不限于:收款人姓名、收款人类型(个人或企业)、身份证号号码/营业执照号码、绑定的支付宝账号。如因特殊原因需要更改,请联系客服:电话:8620-85108163 转分机 4784。
        h5 三、法律
        .section 1. 本协议适用中华人民共和国的法律,并且排除一切冲突法规定的适用。本协议因与中华人民共和国现行法律相抵触而导致部分无效,不影响其他部分的效力。
        .section 2. 如出现纠纷,用户和网易菠萝一致同意将纠纷交由网易菠萝所在地法院管辖。
        h5 四、其他
        .section 1. 网易菠萝不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利,不应被视为放弃该权利,也不影响网易菠萝在将来行使该权利。
        .section 2. 如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力,本协议的其余协议仍应有效且具有约束力,网易菠萝及参与者均应尽力使该协议设定的本意得到实现。
        .section 3. 本协议中的标题仅为方便而设,不作为解释本协议的依据。
        .section
            b 如用户对本协议内容有任何疑问,可拨打客服电话(8620-85108163 转分机 4784)。


