.wrapper{
  padding:0 .3rem;font-size:.3rem;line-height:.44rem;color:#2e2e2e;
  .title{font-size:.6rem;font-weight:bold;line-height:1.5rem;text-align: center;}
  .tip{font-size:.2rem;}
  .set-btn{font-size:.5rem;display: block;text-align: center;margin-top:2rem;color:blue;text-decoration: underline;}
}