//
   Created by Dillance on 16/8/15.

extends ./../../../../../layout
block head
    meta(name='keywords', content='“只要你分享了菠萝的视频，而这段视频带来相当规模的流量，你就能够获取奖励” 2016年8月，网易菠萝分享计划横空出世。我们意在为PGC内容提供最优质的服务，和优质内容方实现品牌共建、内容共创、粉丝共享，最终共同打造菠萝网生内容新生态。')
    meta(name='description', content='网易菠萝, 分享计划，曝光计划，网易分享，菠萝分享，高收入，高分成，海量曝光， 菠萝, 无广告, 萌贱污, 原创视频, 视频, 吐槽, 社区, 神奇, bolo, boluo, 视频社区, 内涵段子, 大力金刚,直播,小视频,网红,快看,暴走漫画,同道大叔,烧脑,花熊,漫画岛,bilibili,腾讯, 土豆,小咖秀,快手,有妖气,内涵,二次元,acfun')
    title 我画出一个神秘符咒，召唤出了限量周边！
    include ../../../../_include/base-dependencies
    link(rel='stylesheet', href='/dev/styles/pc/pages/act/u17/1-0-x/index.css')
block content
    .wrapper
        img(src='/dev/images/pages/pc/act/lottery/yinyang.jpg')