//
   Created by Dillance on 16/8/15.

extends ./../../../../../layout
block head
    meta(name='keywords', content='“只要你分享了菠萝的视频，而这段视频带来相当规模的流量，你就能够获取奖励” 2016年8月，网易菠萝分享计划横空出世。我们意在为PGC内容提供最优质的服务，和优质内容方实现品牌共建、内容共创、粉丝共享，最终共同打造菠萝网生内容新生态。')
    meta(name='description', content='网易菠萝, 分享计划，曝光计划，网易分享，菠萝分享，高收入，高分成，海量曝光， 菠萝, 无广告, 萌贱污, 原创视频, 视频, 吐槽, 社区, 神奇, bolo, boluo, 视频社区, 内涵段子, 大力金刚,直播,小视频,网红,快看,暴走漫画,同道大叔,烧脑,花熊,漫画岛,bilibili,腾讯, 土豆,小咖秀,快手,有妖气,内涵,二次元,acfun')
    title 网易菠萝分享计划
    include ../../../../_include/base-dependencies
    link(rel='stylesheet', href='/dev/styles/pc/pages/act/share/1-0-x/index.css')
block content
    include ../../../../_include/header
    .wrapper
        .main-banner
        .container
            .join-btn
            .join-tip
                | “只要你分享了菠萝的视频，而这段视频带来相当规模的流量，你就能够获取奖励”
                br
                | 2016年8月，网易菠萝分享计划横空出世。我们意在为PGC内容提供最优质的服务，和优质内容方实现品牌共建、内容共创、粉丝共享，最终共同打造菠萝网生内容新生态。
            .return-introductions
                .title • 丰厚回报
                .introductions-container
                    .nav
                        .item.current 高收入
                        .item 无广告
                        .item 海量曝光
                    .body.s03
                        .item.col-01
                            .sub-title 高收入，还有额外奖励
                            .content
                                | 高收入，还有额外奖励
                                br
                                | 菠萝菌将提供给您具有竞争力的奖励体系，质量越佳，收入越丰厚，更有每周额外转化率奖励！
                        .item.col-02
                            .sub-title 无广告！
                            .content
                                | 无广告，更吸粉！
                                br
                                | 菠萝菌任性无广告，让粉丝专心看视频！避免了粉丝因难以忍受广告而立马跳出的尴尬，更多播放意味着更多奖励！
                        .item.col-03
                            .sub-title 海量曝光！
                            .content
                                | 海量曝光，众多优质资源
                                br
                                | 参与分享计划，可享众多网易推广资源，背靠网易大山，菠萝菌带你一起飞！
            .flow-chart
                .title • 加入流程
                .chart-container
                    .apply-btn
                    .details-btn 查看细则
            br
            br
            .case(style='display:none;')
                .title • 经典案例
                .ip-list
                    .item
                        .avatar
                            .img-wrap
                                img
                        .name 暴走大事件
                    | &nbsp;
                    .item
                        .avatar
                            .img-wrap
                                img
                        .name 暴走大事件
                    | &nbsp;
                    .item
                        .avatar
                            .img-wrap
                                img
                        .name 暴走大事件
                    | &nbsp;
                    .item
                        .avatar
                            .img-wrap
                                img
                        .name 暴走大事件
                    | &nbsp;
                    .item
                        .avatar
                            .img-wrap
                                img
                        .name 暴走大事件
    .join-dialog.share-plan(style='display:none;')
        .container
            .content
                .title 分享计划加入申请
                .body
                    .tip 为了保证所有用户的权益。加入视频分享计划必须进行实名认证，请提供一下资料：
                    .form-container
                        .form-item
                            span 本人真实姓名：
                            .input-wrap
                                input(type='text',name='name',placeholder='请输入您的真实姓名')
                        .form-item
                            span 支付宝账号：
                            .input-wrap
                                input(type='text',name='alipayAccount',placeholder='请输入您本人的支付宝账户账号')
                        .form-item
                            span 手机号：
                            .input-wrap
                                input(type='text',name='phone',placeholder='请输入您的手机号')
                        .form-item
                            span QQ或微信号：
                            .input-wrap
                                input(type='text',name='wechatAccount',placeholder='请输入您的QQ或微信号')
                        .form-item
                            span 本人身份证号：
                            .input-wrap
                                input(type='text',name='IDNumber',placeholder='请输入您本人的真实身份证号码')
                    .id-img-form
                        h5 身份证正反面照片：
                        .form-wrap
                            .item
                                .img-wrap
                                    img
                                    .file-input
                                        .icon-cross
                                        .text 点击上传正面
                                    input(type='file',name='IDImageFront')
                                .id-tip 正面照片
                            | &nbsp;
                            .item
                                .img-wrap
                                    img
                                    .file-input
                                        .icon-cross
                                        .text 点击上传正面
                                    input(type='file',name='IDImageBack')
                                .id-tip 反面照片
                    .confirm-box
                        .agreement-check
                            input(type='checkbox',name='agree')
                            .text 同意
                                span.agreement-btn 网易菠萝分享计划协议
                        .submit-btn 提交
                        .contact-tip 分享计划负责人联系方式：gzxuxiaochun#corp.netease.com（#换成@）
            .remove-btn

    .join-dialog.enter(style='display:none;')
        .container
            .content
                .title 申请进驻
                .body
                    .tip 请根据以下提示填写资料，我们将有专人与您联系
                    .form-container
                        .form-item
                            span 团队名称：
                            .input-wrap
                                input(type='text',name='name',placeholder='请填写团队名称')
                        .form-item
                            span 微博账号：
                            .input-wrap
                                input(type='text',name='weibo',placeholder='请填写微博账号')
                        .form-item
                            span QQ或微信：
                            .input-wrap
                                input(type='text',name='wechatAccount',placeholder='请填写QQ或微信账号')
                        .form-item
                            span 联系方式：
                            .input-wrap
                                input(type='text',name='phone',placeholder='请填写联系方式')
                    .tip 请在下方粘贴您在其他视频平台的系列视频名
                    .form-container
                        .form-item
                            span 视频平台：
                            .input-wrap
                                input(type='text',name='video',placeholder='例如：B站+口水三国')
                    .confirm-box
                        .submit-btn 提交
                        br
            .remove-btn

    .join-dialog.apply(style='display:none;')
        .container
            .content
                .title
                .tip 如果您为内容方或原创作者,有您自己的作品想要进行分享，请马上入驻菠萝再行申请~
                .sub-title • 申请流程
                .flow-chart
                .join-btn 马上入驻
                .join-tip
                    | 除此之外，如果您为微博达人/社交一朵花，亦可通过邮件形式进行报名参加
                    br
                    | 报名方式：将您的姓名、微博/微信号、个人介绍发送至邮箱：bolo@163.com即可完成报名
                .contact-tip 分享计划负责人联系方式：gzxuxiaochun#corp.netease.com（#换成@）
            .remove-btn

    .agreement
        .container
            .title 网易菠萝用户服务条款
                //i 合作协议
            .content
                h4.sub-title 网易菠萝分享计划协议
                p 用户在申请或使用网易菠萝分享计划前,请仔细阅读网易菠萝分享计划协议(以下简称为“本协议”)中所有内容,尤其是粗体标注的内容。
                h4.sub-title 一、本协议的确认和修改
                p 1. 本协议是网易菠萝分享计划参与者(以下简称“参与者”)与网易菠萝之间的协议,网易菠萝依据本协议为参与者提供网易菠萝分享计划服务。
                p 2. 如用户不同意本协议任意内容,请勿申请或使用网易菠萝分享计划。如用户申请网易菠萝分享计划并通过审核成为参与者,即表示参与者与网易菠萝已达成协议,自愿接受本协议的所有内容。此后,参与者不得以未阅读本协议内容作任何形式的抗辩。
                p 3. 网易菠萝有权在必要时通过公告等合理方式修改本协议。参与者在享受服务时,应当及时查阅了解修改的内容,并自觉遵守本协议。参与者如继续使用本协议涉及的服务,则视为对修改内容的同意,当发生有关争议时,以最新的协议为准;参与者在不同意修改内容的情况下,有权停止使用本协议涉及的服务。
                p 4. 本协议为《网易菠萝用户服务条款》的一部分。若本协议与《网易菠萝用户服务条款》相冲突,冲突部分以本协议为准。
                h4.sub-title 二、分享计划
                p 1. 网易菠萝分享计划,是网易菠萝面向用户推出的意在通过用户分享网易菠萝平台内容链接,扩大网易菠萝内容有效播放量,以吸引优质用户,从而提供给用户的奖励收入(以下简称“分享计划收入”)计划。用户通过打开网易菠萝分享计划页面后,点击“申请加入”,按照网易菠萝的提示填写相关信息并提交相关申请文件后,网易菠萝将对申请用户进行审核。审核通过后,该用户即成为有效的参与者。参与者应确保提交的相关信息(包括但不限于身份证明)的真实性及完整性。如上述申请信息发生变化,用户应及时更新提交至网易菠萝。若用户提供给网易菠萝的信息不准确,不真实,网易菠萝有权采取不予通过审核等措施。
                    br
                    | 参与者通过网易菠萝平台将相关内容分享至第三方平台如 QQ 空间、微博、微信等,网易菠萝将通过参与者分享的内容的有效播放次数、因此带来的有效用户等作为结算依据。若参与者违反相关协议政策,结算依据随之调整。
                p 2. 加入网易菠萝分享计划后,之前上传到网易菠萝符合要求的历史内容及之后新上传的内容都可以参与分享计划。针对历史内容,自参与分享计划之后产生的新的播放均可产生分享计划收入。
                    b 所有参与分享计划的内容必须是原创内容或拥有合法版权或者版权使用权的内容,所有参与分享计划的内容不得带有任何明显的广告内容。一旦发现参与者在被分享内容中加入违规和其他带有广告性质的内容,网易菠萝有权中断或终止与其合作,取消其参与者资格,冻结、没收其未支付的分享计划收入和追回已支付的分享计划收入,并保留追究其相应法律责任的权利。
                p 3. 具体分享计划收入以参与者登录网易菠萝后点击分享计划栏目里显示的收入为准。结算周期为自然周,每周将计算上一个结算周期的收入。目前网易菠萝分享计划仅支持支付宝收款方式。
                    b 参与者须将网易菠萝账户绑定支付宝账户,且支付宝的开户人姓名或名称须与参与者提交的身份验证资料上的姓名或企业名称一致。参与者须保证支付宝账户信息填写的正确性及真实性,并承诺不擅自更换绑定的支付宝账户,否则因此导致的风险(包括但不限于分享计划收入收款不成功等)均由参与者自行承担。参与者认可结算数据以网易菠萝平台系统记录的数据为准。如在过程中出现参与者违规,参与者同意并认可网易菠萝有权按照分享计划收入发放相关规则和/或网易菠萝对违规情形、交易纠纷的认定结果对分享计划收入进行相应处理,并对前述处理结果不持异议。
                p
                    b 4. 作为企业的分享计划参与者有按国家相关法律法规有提供发票的义务。网易菠萝在每次支付分享计划收入时都会预扣 10%,在收到相应发票后会把此等 10%预扣款和下次分享计划收入一起发放。
                p
                    | 发票信息:
                    br
                    | 公司名称:杭州来秀信息技术有限公司
                    br
                    | 开户行:工商银行浙江省分行营业部本级
                    br
                    | 银行帐号:1202021109900198236
                    br
                    | 纳税人识别号:330100329595935
                    br
                    | 地址:杭州市滨江区长河街道网商路 599 号 4 栋 406 室
                    br
                    | 电话:0571-89852052
                    br
                    | 发票类型:增值税专用发票
                    br
                    | 发票名目:视频使用费或视频授权费
                    br
                    br
                    | 发票邮寄地址:广州天河区科韵路信息港方圆 E 时光西座 23 层
                    br
                    | 邮编:510000
                    br
                    | 联系人:许晓纯
                    br
                    | 联系电话:+86 15017561838
                    br
                    | 请注意:发票必须加盖发票专用章,不是公司章;盖章位置不能覆盖密码区,也最好不要遮挡数字。
                p
                    b 5. 针对自然人作为分享计划参与者,网易菠萝会按国家相关法律法规规定代扣增值税及附加税、水利建设基金以及个人所得税,相关税金将从分享计划收入中直接扣除。每次提现扣税=本月提现累计收益应缴税-本月提现累计已缴税。
                p 6. 网易菠萝将针对被分享内容的“原创性”、“是否含广告”、“违规刷量”等方面进行审查并自主进行认定。参与者不得以任何不诚信的手段来牟取不恰当收益。不诚信的手段包括并不限于:通过人工、程序或软件制造的无效点击提高流量,例如自行点击,煽动他人产生点击;通过程序或脚本模拟用户的点击,自动化点击(例如付费点击、自动浏览、点击机,代理服务器 IP 点击,假 IP 点击,相互点击,自动刷新);一切非正常投放的产品形式,一切以文字诱导或强制用户点击的行为(例如:利用文字诱导、强制用户点击)或网易菠萝认定的其他作弊行为。
                    br
                    | 上款规定的不诚信手段将被视为无效展示;
                    b 当发现参与者使用上款规定的不诚信手段进行不当得利时,网易菠萝有权中断或终止与其合作,取消其参与者资格,冻结、没收其未支付的分享计划收入,追回已支付的分享计划收入,并保留追究其相应法律责任的权利。
                p 7. 考虑到账户安全问题,参与者在首次提交收款账户信息后,不可自行修改收款账号信息,包括但不限于:收款人姓名、收款人类型(个人或企业)、身份证号号码/营业执照号码、绑定的支付宝账号。如因特殊原因需要更改,请联系客服:电话:8620-85108163 转分机 4784。
                h4.sub-title 三、法律
                p 1. 本协议适用中华人民共和国的法律,并且排除一切冲突法规定的适用。本协议因与中华人民共和国现行法律相抵触而导致部分无效,不影响其他部分的效力。
                p 2. 如出现纠纷,用户和网易菠萝一致同意将纠纷交由网易菠萝所在地法院管辖。
                h4.sub-title 四、其他
                p 1. 网易菠萝不行使、未能及时行使或者未充分行使本协议或者按照法律规定所享有的权利,不应被视为放弃该权利,也不影响网易菠萝在将来行使该权利。
                p 2. 如本协议中的任何协议无论因何种原因完全或部分无效或不具有执行力,本协议的其余协议仍应有效且具有约束力,网易菠萝及参与者均应尽力使该协议设定的本意得到实现。
                p 3. 本协议中的标题仅为方便而设,不作为解释本协议的依据。
                p
                    b 如用户对本协议内容有任何疑问,可拨打客服电话(8620-85108163 转分机 4784)。
            .operation
                .btn-wrap
                    .agree-btn 关闭

    script(type='text/template', data-key='detail-rules')
        h5 1. 申请及合作流程
        .section 网易菠萝分享计划,是网易菠萝面向用户推出的意在通过用户分享网易菠萝平台内容链接,扩大网易菠萝内容有效播放量,以吸引优质用户,从而提供给用户的奖励收入(以下简称“分享计划收入”)计划。
        .section 用户通过打开分享计划网页端/网易菠萝App后,点击申请加入,按照网易菠萝的提示填写相关信息并提交相关申请文件后,网易菠萝将对申请用户进行审核。
        .section 审核通过后,该用户即成为有效的网易菠萝分享计划参与者(以下简称“参与者”)。参与者应确保提交的相关信息(包括但不限于身份证明)的真实性及完整性。
        .section 参与者通过网易菠萝平台将相关内容分享至第三方平台如QQ空间、微博、微信等,网易菠萝将通过参与者分享的内容的有效播放次数、因此带来的有效用户等作为结算依据,若参与者违反相关条款政策,结算依据随之调整。
        h5 2. 可参与分享计划的内容
        .section 加入网易菠萝分享计划后,之前上传到网易菠萝符合要求的历史内容及之后新上传的内容都可以参与分享计划。针对历史内容,自参与分享计划之后产生的新的播放均可产生分享计划收入。
        .section 所有参与分享计划的内容必须是原创内容或拥有合法版权或者版权使用权的内容,所有参与分享计划的内容不得带有任何明显的广告内容。一旦发现参与者在被分享内容中加入违规和其他带有广告性质的内容,网易菠萝有权中断或终止与其合作,取消其参与者资格,冻结、没收其未支付的分享计划收入和追回已支付的分享计划收入,并保留追究其相应法律责任的权利。
        h5 3. 分享计划收入结算及付款方式
        .section 具体分享计划收入以网易菠萝分享计划栏目查询为准。结算周期为自然周,每周将计算上一个结算周期的收入。
        .section 目前网易菠萝分享计划仅支持支付宝收款方式。参与者须将网易菠萝账户绑定支付宝账户,且支付宝的开户人姓名或名称须与参与者提交的身份验证资料上的姓名或企业名称一致。参与者须保证支付宝账户信息填写的正确性及真实性,并承诺不擅自更换绑定的支付宝账户,否则因此导致的风险(包括但不限于分享计划收入收款不成功等)均由参与者自行承担。参与者认可结算数据以网易菠萝平台系统记录的数据为准。如在过程中出现参与者违规,参与者同意并认可网易菠萝有权按照分享计划收入发放相关规则和/或网易菠萝对违规情形、交易纠纷的认定结果对分享计划收入进行相应处理,并对前述处理结果不持异议。
        h5 4. 违规说明及处罚
        .section 网易菠萝将针对被分享内容的“原创性”、“是否含广告”、“违规刷量”等方面进行审查。参与者不得以任何不诚信的手段来牟取不恰当收益。不诚信的手段包括并不限于:通过人工、程序或软件制造的无效点击提高流量,例如自行点击,煽动他人产生点击;通过程序或脚本模拟用户的点击,自动化点击(例如付费点击、自动浏览、点击机,代理服务器IP点击,假IP点击,相互点击,自动刷新);一切非正常投放的产品形式,一切以文字诱导或强制用户点击的行为(例如:利用文字诱导、强制用户点击)或网易菠萝认定的其他作弊行为。上款规定的不诚信手段将被视为无效展示;当发现参与者使用上款规定的不诚信手段进行不当得利时,网易菠萝有权中断或终止与其合作,取消其参与者资格,冻结、没收其未支付的分享计划收入,追回已支付的分享计划收入,并保留追究其相应法律责任的权利。
        h5 5. 支付信息及修改
        .section 考虑到账户安全问题,参与者在首次提交收款账户信息后,不可自行修改收款账号信息,包括但不限于:收款人姓名、收款人类型(个人或企业)、身份证号号码/营业执照号码、绑定的支付宝账号。如因特殊原因需要更改,请联系客服。

    include ../../../../_include/footer
    include ../../../../_include/dialog/1-0-x/tip
    include ../../../../_include/dialog/1-0-x/intro




    script.
        require('/pages/pc/act/share@1-0-x');