//
   Created by Dillance on 17/1/10.

doctype html
html
    head
        meta(content='charset=utf-8')
        link(rel='icon', href='/dev/images/pages/pc/newbolo/common/logo.png')
        link(rel='stylesheet', href='/dev/styles/pc/pages/newbolo/layout/1-0-x/index.css')
        block head
    body
        block content
